section.aside {
  @include right-float;
  width: 40%;
  padding-top: 45px;
  .pic-author {
    text-align: center;
  }
  aside.lower-aside {
    margin: 30px 50px;
    width: 200px;
  }
  p.lower-aside-text {
    text-align: left;
    color: $secondaryColor;
    font-size: 12px;
    line-height: 18px;
    padding-top: 10px;
  }
  img.avatar {
    height: 60px;
    width: 60px;
    margin: 8px 5px 8px 0;
    border-radius: 50%;
  }
  p.name-author {
    color: $commonBlue;
    font-size: 12px;
    @include uppercase;
    font-family: $navFont;
  }
}

ul.social-author {
  padding-top: 4px;
  display: inline-block;
  text-align: center;
  li {
    @include list-style;
    font-size: 10px;
    @include left-float;
    padding: 0px 7px 0px 7px;
    color: $secondaryColor;
    a {
      color: $secondaryColor;
      text-decoration: none;
    }
  }
}

.square-ad {
  margin: 30px 100px 40px 0;
  text-align: center;
  width: 100%;
  .ad-caption {
    color: $secondaryColor;
    font-size: 10px;
    display: block;
    text-align: right;
    margin-right: 50px;
    font-family: $brandFont;
    @include decoration;
    a {
      color: $secondaryColor;
    }
  }
}
