$imgPath: '../images';

//Fonts
$brandFont: 'Asap', sans-serif;
$navFont: 'Oswald', sans-serif;
$headlineFont: 'PT Sans", Arial, sans-serif';

//Colors
$primaryColor: #83888c;
$secondaryColor: #bfcbd4;
$commonBlue: #3d87c5;
$tertiaryColor: #053251;
$white: #fff;
$bgColor: #9dadb3;
$secondaryBg: #5e6970;
$subColor: #fafcfe;
$bayColor: #196FB1;
$dividerColor: #e7ecf0;
$coColor: #C0C0BE;
