footer {
 overflow: hidden;
 width: 100%;
 height: 75px;
 padding: 40px 0px 0px;
 background-color: #083452;
 position: relative;
}

.footer-left-text p {
  font-family: $brandFont;
    color: #C0C0BE;
    font-size: 14px;
    @include inline;
    margin: -15px 0 0 0;
    padding: 0;
    position: absolute;
    word-spacing: 4px;
}
.footer-left-text img {
    margin-top: -8px;
    padding-top: 0px;
    margin-bottom: -4px;
    left: 100px;
    @include inline;
    padding-left: 100px;

}

.footer-left-text span {
    font-family: $brandFont;
    color: $coColor;
    font-size: 12px;
    @include inline;
    margin: 2px 0 0 0;
    padding: 0;
  }

  .footer-right-text {
    font-family: $brandFont;
    color: $coColor;
    font-size: 12px;
    @include inline;
    margin: -3.1px 0 0 0;
    padding: 0;
    position: absolute;
    right: 100px;
    word-spacing: 4px;
    ul li {
      @include inline;
      border-right: 1px solid $coColor;
      padding: 0 9px 0 9px;
      a {
        color: $coColor;
        text-decoration: none;
      }
      &:last-child {
        border: none;
      }
    }
  }

  
